body {
  height: 100vh;
  /* height: auto; */
  background: linear-gradient(#e66465, #9198e5);
  text-align: center;
  font-size: x-large;
}

.container {
  text-align: center;
  display: flex;
}

.tasks-table {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  margin: 20px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  padding: 10px;
  border: 1.5px solid transparent;
  background-color: rgb(79, 92, 227);
  color: white;
}

button:hover {
  margin: 20px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  padding: 10px;
  border: 1.5px solid black;
  background-color: transparent;
  color: black;
}

.edit-delete-task {
  margin: 10px;
  padding: 7px;
  width: 7em;
  height: fit-content;
}

.edit-delete-task:hover {
  margin: 10px;
  padding: 7px;
  width: 7em;
  height: fit-content;
}

#new-task {
  padding: 12px;
  border-radius: 10px;
  border: 1.5px solid black;
  outline: none;
  width: 300px;
  background-color: transparent;
}

::placeholder {
  color: black;
  opacity: 0.5;
}

#edit-task {
  margin: 20px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  padding: 10px;
  border: 1.5px solid transparent;
  background-color: rgb(79, 92, 227);
}

#add-task {
  margin: 20px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  padding: 10px;
  border: 1.5px solid transparent;
  background-color: rgb(79, 92, 227);
}

#add-task:hover {
  margin: 20px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  padding: 10px;
  border: 1.5px solid black;
  background-color: transparent;
  color: black;
}

#clearList {
  margin-top: 40px;
}

.task-status {
  padding: 5px 10px;
  margin: 5px;
}

.task-content {
  padding: 5px 10px;
  margin: 10px;
  font-size: medium;
  width: 200px;
  overflow: scroll;
  text-align: left;
}
.task-date {
  padding: 5px 10px;
  margin: 10px;
  font-size: 15px;
}

.task {
  box-shadow: 2px 2px;
  border: 1.5px solid black;
  border-radius: 10px;
  margin: 15px auto;
  max-width: 50%;
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
  justify-content: center;
}

.tasks-display {
  margin-top: 50px;
}

.error {
  color: red;
  font-size: small;
}
