body {
  text-align: center;
  font-size: x-large;
  background-color: #253948;
}

button {
  margin: 20px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  padding: 10px;
  border: 1.5px solid transparent;
  background-color: rgb(60, 74, 226);
  transition: background-color 0.2s ease;
  color: white;
}

button:hover {
  margin: 20px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  padding: 10px;
  border: 1.5px solid white;
  background-color: transparent;
  /* color: black; */
}

.edit-delete-task {
  margin: 10px;
  padding: 7px;
  width: 7em;
  height: fit-content;
  background-color: rgb(60, 74, 226);
}

.edit-delete-task:hover {
  margin: 10px;
  padding: 7px;
  width: 7em;
  height: fit-content;
}

#new-task {
  padding: 12px;
  border-radius: 10px;
  border: 1.5px solid white;
  outline: none;
  width: 300px;
  background-color: transparent;
  color: white;
}

::placeholder {
  color: white;
  opacity: 0.5;
}

#add-task {
  margin: 20px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  padding: 10px;
  border: 1.5px solid transparent;
  background-color: rgb(60, 74, 226);
}

#add-task:hover {
  margin: 20px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  padding: 10px;
  border: 1.5px solid white;
  background-color: transparent;
}

.task-status {
  padding: 5px 10px;
  margin: 5px;
}

.task-content {
  padding: 5px 10px;
  margin: 10px;
  font-size: medium;
  width: 200px;
  overflow: scroll;
  text-align: left;
}
.task-date {
  padding: 5px 10px;
  margin: 10px;
  font-size: medium;
}

.task {
  box-shadow: 3px 3px;
  /* border: 1.5px solid black; */
  border-radius: 10px;
  margin: 15px auto;
  max-width: 80%;
  padding-top: 2px;
  padding-bottom: 2px;
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: #537895;
}

.tasks-display {
  margin-top: 50px;
}

#choose-category {
  margin: 20px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  padding: 10px;
  border: 1.5px solid transparent;
  background-color: rgb(60, 74, 226);
  transition: background-color 0.2s ease;
  color: white;
  outline: none;
  border: transparent;
  cursor: pointer;
}

#filter-category {
  margin: 20px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  padding: 10px;
  border: 1.5px solid transparent;
  background-color: rgb(60, 74, 226);
  transition: background-color 0.2s ease;
  color: white;
  outline: none;
  border: transparent;
  cursor: pointer;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(227, 222, 222);
}

.container {
  border-radius: 10px;
  width: 1000px;
  margin-bottom: 50px;
  padding-top: 30px;
  /* background: linear-gradient(#596164, #868F96); */
  background: linear-gradient(#09203F, #325570);
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
}

.heading {
  font-family: fantasy;
  margin-bottom: auto;
}

.sub-heading {
  margin-bottom: 40px;
  font-weight: bold;
}

.app-name {
  color: rgb(79, 92, 255);
}

.clear-and-filter {
  display: flex;
  justify-content: space-between;
  margin: 0px 80px;
}

.error {
  color: red;
  font-size: small;
}

#show-completed {
  margin: 20px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  padding: 10px;
  border: 1.5px solid transparent;
  background-color: rgb(79, 92, 227);
  transition: background-color 0.2s ease;
  color: white;
  cursor: pointer;
}

#clear-all {
  background-color: rgb(237, 31, 31);
  cursor: pointer;
}

#clear-all:hover {
  border: 1.5px solid transparent;
  background-color: rgb(237, 31, 31);
}
